/* header styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img,
.login img {
  height: 50px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease; 
}

nav ul li a:hover {
  color: #000;
}


section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  border: 2px solid #555;
}

section a:hover {
  background-color: #555;
  color: #fff;
  transform: translateY(-2px); 
}

section a:first-child {
  margin-right: 10px; 
}

/* header styling */



